
div.error{
    color:red;
}

.card-container{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    
}

.characterCard{
    margin: 10px;
    width: 40%;
}

.character-bio{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}